{% extends "base_delivery.html" %}
{% block title %}All Orders{% endblock %}
{% block content %}
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="#">Delivery Mode</a>
            <span class="breadcrumb-item active">All Orders</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>All Orders</h1>
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav ml-auto list-inline">
                        <li class="navbar-item list-inline-item">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="text" id = "searchInput" onkeyup="searchFunction()" placeholder="Search by Order ID"
                                       aria-label="Search">
                            </form>
                        </li>
                        <li class="navbar-item list-inline-item">
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container">
            <table class="table table-striped" id="myTable">
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Date Received</th>
                    <th>Company</th>
                    <th>Delivery Status</th>
                    <th>Remarks</th>
                    <th></th>
                    <th>Update</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orderList %}
                    <tr>
                        <td><a href="/view_more_delivery/{{ order.get_orderID() }}">{{ order.get_orderID() }}</a></td>
                        <td>{{ order.get_date_received() }}</td>
                        <td>{{ order.get_delivery_company() }}</td>
                        {% if order.get_delivery_status() == "D" %}
                            <td>Delivered</td>
                        {% elif order.get_delivery_status() == "DG" %}
                            <td>Delivering</td>
                        {% elif order.get_delivery_status() == "P" %}
                            <td>Processing</td>
                        {% elif order.get_delivery_status() == "DY" %}
                            <td>Delayed</td>
                        {% endif %}
                        <td>{{ order.get_admin_remarks() }}</td>
                        <td>{{ order.get_verification() }}</td>
                        <td>
                            <a href="/verification/{{ order.get_orderID() }}" class="btn btn-warning">Verify</a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </section>
    <script src="{{ url_for('static',filename='js/searchOrderID.js') }}"></script>
{% endblock %}