{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}

    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index.html">Home</a>
            <span class="breadcrumb-item active">Shipping & Returns</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
          <h1>Shipping & Returns</h1>
        <p>  At Bookstore our goal is to offer you the best shipping options, no matter where you live.
        Every day, we deliver to hundreds of customers across the world, ensuring that we provide the very highest levels of responsiveness to you at all times.
        </p>
        <p>The time frame for order delivery is divided into two parts:</p>

          <strong>Processing time:</strong>
          <p>Order verification, tailoring, quality check and packaging. All orders are sent to the manufacturer for dispatch within 24 hours after the order is placed. The manufacturer and China Post process the orders, which takes an additional 2–4 days.
          </p>
          <strong>Shipping time:</strong>
          <p>This refers to the time it takes for items to be shipped from our warehouse to the destination. International delivery usually takes about 15–30 business days. US orders are shipped by e-packet, which is a US Postal Service product. After processing and leaving the warehouse, items usually take between 7 and 14 days to arrive at their destination but can take longer from time to time.
            <a href=info.html> Want to Learn More?</a>
          </p>

        </div>
    </section>
 {% endblock %}
