{% extends "base_delivery.html" %}
{% block title %}View More{% endblock %}
{% block content %}
    {% from "includes/_formHelper.html" import render_field %}
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="#">Delivery Mode</a>
            <span class="breadcrumb-item active">Delivery Information</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>Delivery Information</h1>
            <form class="form" method="POST">
                <div>
                    <h3>Order Information</h3>
                </div>
                {% for order in orderList %}  <!--- fix this code later--->
                    <div class="form-group">
                        <div class="row">
                            <p class=col>Order ID:</p>
                            <p class="col">{{ order.get_orderID() }}</p>
                            <p class="col">Delivery Status - Testing Only: </p>
                            {% if order.get_delivery_status() == "D" %}
                                <p class="col">Delivered</p>
                            {% elif order.get_delivery_status() == "DG" %}
                                <p class="col">Delivering</p>
                            {% elif order.get_delivery_status() == "P" %}
                                <p class="col">Processing</p>
                            {% elif order.get_delivery_status() == "DY" %}
                                <p class="col">Delayed</p>
                            {% endif %}
                        </div>
                        <div class="row">
                            <p class="col">Book ID: </p>
                            <p class="col"></p>
                            <p class="col">Book Title: </p>
                            <p class="col"></p>
                        </div>
                        <div class="row">
                            <p class="col">Book Publisher: </p>
                            <p class="col"></p>
                            <p class="col">Book Author: </p>
                            <p class="col"></p>
                        </div>
                        <div class="row">
                            <p class="col">Quantity: </p>
                            <p class="col"></p>
                            <p class="col">Total Price: </p>
                            <p class="col"></p>
                        </div>
                        <div class="row">
                            <p class="col">Delivery Company: </p>
                            <p class="col">{{ order.get_delivery_company() }}</p>
                            <p class="col"></p>
                            <p class="col"></p>
                        </div>
                        <div class="row">
                            <p class="col">Verification Code - Testing: </p>
                            <p class="col">{{ order.get_verification() }}</p>
                        </div>
                        <div>
                            <h3>User Remarks</h3>
                        </div>
                        <div class="row">
                            <p class="col">User Remarks: </p>
                            <p class="col">{{ order.get_user_remarks() }}</p>
                        </div>
                        <div>
                            <h3>Admin Remarks</h3>
                        </div>
                        <div class="row">
                            <p class="col">Admin Remarks: </p>
                            <p class="col">{{ order.get_admin_remarks() }}</p>
                        </div>
                        <div>
                            <h3>Delivery Remarks</h3>
                        </div>
                        <div class="row">
                            <p class="col">Delivery Remarks 2: </p>
                            <p class="col">{{ order.get_delivery_remarks() }}</p>
                        </div>
                        <div class="form-group">
                            {{ render_field(form.remarks, class = "form-control") }}
                        </div>
                        <div><!--- add in forms here   ---></div>

                        <div>
                            <input class="btn" type="submit" value="submit"/>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </section>
{% endblock %}